body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body, button, input, select, textarea , pre {
	font-size: 12px;
	font-family:Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
	_font-family:Tahoma,Arial,Helvetica,STHeiti;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block;
}

body {
    background: #fff;
}

ul, ol {
    list-style: none;
}

em, i, b {
    font-style: normal;
    font-weight: normal;
}

:hover, :active, :focus {
    outline: 0;
}

a {
/*
	color:#36c;
*/	
	color:#333;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	color:#2d52b6;
	text-decoration: none;
}


fieldset, img {
	border:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	-ms-interpolation-mode:bicubic;
}
textarea {
	resize:vertical;
}
*:focus {
	outline:0;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}
