body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

body, button, input, select, textarea , pre {
	font-size: 12px;
	font-family:Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
	_font-family:Tahoma,Arial,Helvetica,STHeiti;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block;
}

body {
    background: #fff;
}

ul, ol {
    list-style: none;
}

em, i, b {
    font-style: normal;
    font-weight: normal;
}

:hover, :active, :focus {
    outline: 0;
}

a {
/*
	color:#36c;
*/	
	color:#333;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	color:#2d52b6;
	text-decoration: none;
}


fieldset, img {
	border:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	-ms-interpolation-mode:bicubic;
}
textarea {
	resize:vertical;
}
*:focus {
	outline:0;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.hide {
	display:none;
}

.wrap {
    margin: 0 auto;
    width: 1140px;
    .wrap-body {
        border: 1px solid #eaeaea;
    }
}

/*z.flot.css*/

/*pagebar*/
body .pager {
    padding-bottom: 15px;
    font-family:arial simsun;
    text-align:center;
    b {
        @fis-border-radius(3px);
        @fis-inline-block;
        border: 1px solid #eaeaea;
        width: 26px;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        vertical-align:top;
    }
    a {
        @fis-border-radius(3px);
        @fis-inline-block;
        width:26px;
        height:24px;
        line-height:24px;
        border: 1px solid #eaeaea;
        color: #39c;
        margin:0 3px;
        text-align:center;
        vertical-align:top;
    }
    a.btn {
        color:#366;
        width:48px
    }
    a:hover {
        border-color: #39c;
        background: #39c;
        color: #fff;
        text-decoration:none
    }
    p {
        @fis-border-radius(3px);
        @fis-inline-block;
        vertical-align:top;
        width:21px;
        text-align:center;
        line-height:26px;
        height:26px
    }
}

.songti {
    font-family: \5b8b\4f53;
}

.loading {
    background: transparent url(./img/loading.gif) center center no-repeat;
}

.sizeimg {
    display: none;
}

.ctip-box {
    position: absolute;
    z-index: 200;
    border: 1px solid #c9c9c9;
    color: #333;
    padding: 15px;
    background: #fff;
    width: 220px;
    padding-left: 60px;
    img {
        float: left;
        width: 50px;
        margin-left: -55px;
        margin-right: 10px;
    }
    div {
        padding-left: 40px;
        b {
            @fis-inline-block;
            width: 40px;
            margin-left: -40px;
            margin-top: -4px;
        }
    }
    &-arrow {
        position: absolute;
        top: -8px;
        width: 13px;
        height: 11px;
        background: url(./img/arrow.gif) center center no-repeat;
    }
}
.ctip-only {
    padding-left: 15px;
}
