.result-box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    background: #eaeaea;
    font-size: 14px;
    font-family: "微软雅黑";
    padding: 0 20px;
    text-align: right;
    z-index: 2147483647;
}
